body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.love{
    display: flex;
    justify-content: center;
}

#corazon{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.heart{
    font-size: 10rem;
    color: red;
    animation: heart .6s infinite alternate linear;
}
.heart1{
    font-size: 15rem;
    color: red;
    animation: heart .5s infinite alternate linear;
}
.heart2{
    font-size: 10rem;
    color: red;
    animation: heart .6s infinite alternate linear;
}

@keyframes heart{
    from{
        transform: scale(.8);
    }
    to{
        transform: scale(1);
    }
}
@media screen and (max-width: 560px) {
    body{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            width: 100%;
    }

    h1{
        font-size: 2rem;
        color: aliceblue;
    }

    #corazon{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .heart{
        font-size: 8rem;
        color: red;
        animation: heart .6s infinite alternate linear;
    }
    .heart1{
        font-size: 10rem;
        color: red;
        animation: heart .5s infinite alternate linear;
    }
    .heart2{
        font-size: 8rem;
        color: red;
        animation: heart .6s infinite alternate linear;
    }
}